@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #1d1515 16.62%, #5a413a 85.61%);
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.p1 {
    
    font-family: "Righteous", cursive;
    color: rgb(255, 245, 238);
    text-align: center;
    font-size: 15px;
    margin-bottom: 1%;
    
}

.h1 {
  font-family: "Righteous", cursive;
  color: rgb(255, 245, 238);
  text-align: center;
  font-size: 30px;
  background-color: rgba(141, 153, 154, 0.23);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  padding: 4px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 1%;
}

.logo {
  border-radius: 50% 50%;
  max-width: 200px;
  max-height: 100px;
}

.menu {
    display:flex;
    gap: 100px;
    justify-content: center;
}

.menu-item {
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 15px;
}

.imagemcentral {
    max-width: 100%;
    max-height: 100%;
}

a:hover {
    background-color: rgb(2, 3, 8);
  }

a:link {
    text-decoration: none;
}